button {
    padding: 15px 12px 15px 16px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(278, 68%, 11%);
    border-radius: 8px;
    border: none;
    width: 310px;
    margin: 16px;
    letter-spacing: 1px;
  }